$white: #ffffff;
$black: #1B1F2B;
$orange: #EFA501;
$orange_light: #F8E6BE;
$green: #286562;
$gray: #A6A6A6;
$beige: #F9F7F4;
$beige2: #F4F0E9;


// HTML
html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

// Body
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 400;
    color: $black;
}


// A
a {
    text-decoration: none;
}

// Start block for background
.start {
    background: url("./images/header-img.jpg") no-repeat center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/header-img.jpg") no-repeat center;
    background-size: cover;
    height: 111vh;

}

// Container
.container {
    max-width: 1170px;
    margin: 0 auto;
}

// Title
.title {
    color: $black;
    text-align: center;
    font-size: 5.9rem;
    font-weight: 700;
    line-height: 124%;
}

// Description
.description {
    color: $gray;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 142%;

    max-width: 41.8rem;
    margin-bottom: 10rem;
}


// Header styles

.header {

    padding-top: 3rem;
    margin-bottom: 14.5rem;

    &__container {
        max-width: 1168px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        margin-right: 182px;
    }

    &__nav ul {
        display: flex;
        align-items: center;
    }

    &__nav-item {
        font-size: 2rem;
        margin-right: 5rem;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        transition: all .3s ease;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            border-bottom: 2px solid $white;
        }

        a {
            color: $white;
        }

    }

    &__phone {
        margin-left: 182px;
        color: $white;
        font-size: 2rem;
    }

}

// Intro styles

.intro {

    &__title {
        color: $white;
        font-weight: 700;
        font-size: 9.6rem;
        line-height: 109%;
        text-align: center;
        letter-spacing: 0.02em;

        margin-bottom: 5rem;
    }

    &__desc {
        color: $white;
        text-align: center;
        font-size: 2rem;
        line-height: 142%;

        max-width: 56.2rem;
        margin: 0 auto;
        margin-bottom: 5.2rem;
    }

    &__button {
        padding: 0.5rem 2rem;
        display: block;
        max-width: 11.8rem;
        margin: 0 auto;

        border-radius: 1rem;
        background: $white;
        cursor: pointer;

        color: $black;
        font-size: 1.7rem;
        line-height: 142%;
        letter-spacing: -0.17px;

        transition: all .3s ease;

        &:hover {
            background-color: $orange;
            color: $white;
        }

        &:active {
            background-color: $orange_light;
            color: $black;
        }
    }
}

// Choice start

.choice {
    padding-top: 13.5rem;
    background-color: $beige;

    &__title {
        margin-bottom: 3.5rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        padding-bottom: 10rem;

        &-item {

            a {
                color: $black;
            }

            font-size: 2.3rem;
            font-weight: 700;
            line-height: 122%;

            margin-right: 3rem;
            border-bottom: 2px solid transparent;
            transition: all .3s ease;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                border-bottom: 2px solid $black;
            }
        }
    }

    &__item-active {
        a {
            color: $orange;
        }

        border-bottom: 2px solid $orange;

        &:hover {
            border-bottom: 2px solid $orange;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    &__card {

        position: relative;
        cursor: pointer;

        width: 37rem;
        height: 53.1rem;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
        }

        border-radius: 5rem;
        overflow: hidden;

        img {
            width: inherit;
            transition: all .3s ease;
        }

        &:hover img {
            transform: scale(1.2);
        }

        &-title {
            position: absolute;
            top: 5rem;
            left: 5rem;
            z-index: 2;

            color: $white;
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 122%;
        }

        &-price {
            position: absolute;
            top: 15.5rem;
            left: 5rem;
            z-index: 2;

            color: $white;
            font-size: 1.7rem;
            line-height: 142%;
            letter-spacing: -0.17px;
        }

        &-more {
            position: absolute;
            padding: 7px 50px 7px 20px;
            bottom: 4rem;
            left: 3rem;
            z-index: 2;

            color: $white;
            font-size: 2.3rem;
            font-weight: 700;
            line-height: 122%;
            transition: all .3s ease;

            &::after {
                content: url('/images/arrow_bt.svg');
                position: absolute;
                top: .9rem;
                left: 15.5rem;
            }

            &:hover {
                background-color: $green;
                border-radius: 5rem;
                padding: 7px 50px 7px 20px;
            }

            &:active {
                background-color: $orange;
                border-radius: 5rem;
                padding: 7px 50px 7px 20px;
            }

        }
    }
}

// Collect start
.collect {
    padding-top: 13.5rem;
    background-color: $beige;

    &__title {
        margin-bottom: 3rem;
    }

    &__form {
        border-radius: 5rem;
        background-color: $white;
        padding: 7rem;

        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        row-gap: 3rem;

        &-field {
            display: flex;
            flex-direction: column;
            width: 50rem;
        }

        &-label {
            font-size: 2rem;
            line-height: 142%;
            margin-bottom: 1rem;
        }

        &-input {
            border-radius: 1rem;
            border: 1px solid $beige2;
            background: $beige;
            gap: 1rem;

            font-size: 2rem;
            line-height: 142%;

            padding: 2rem;

            &::placeholder {
                color: $gray;
                font-size: 2rem;
                line-height: 142%;
            }

            option {
                color: $black;
            }

        }

        &-textarea {
            resize: none;
            width: 100%;
            padding: 2rem;
            margin-bottom: 1rem;

            border-radius: 1rem;
            border: 1px solid $beige2;
            background: $beige;

            font-size: 2rem;
            line-height: 142%;
            max-height: 15.2rem;
        }

        &-input[type="radio"] {
            zoom: 1.5;
            color: $black;
        }
    }
}

select.collect__form-input {
    appearance: none;
    background-image: url('./images/ic-dropdown.svg');
    background-repeat: no-repeat;
    background-position: right 2rem top 50%;
    background-size: 2.6rem auto;

    color: $gray;

    &:focus {
        color: $black;
    }
}