$white: #ffffff;
$black: #1B1F2B;
$orange: #EFA501;
$orange_light: #F8E6BE;

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
}

a {
    text-decoration: none;
}

.start {
    background: url("./images/header-img.jpg") no-repeat center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/header-img.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
}

// Container
.container {
    max-width: 1170px;
    margin: 0 auto;
}

// Header styles

.header {

    padding-top: 3rem;
    margin-bottom: 14.5rem;

    &__container {
        max-width: 1168px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        margin-right: 182px;
    }

    &__nav ul {
        display: flex;
        align-items: center;
    }

    &__nav-item {
        color: $white;
        font-size: 2rem;
        margin-right: 5rem;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        transition: all .3s ease;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            border-bottom: 2px solid $white;
        }

    }

    &__phone {
        margin-left: 182px;
        color: $white;
        font-size: 2rem;
    }

}

// Intro styles

.intro {

    &__title {
        color: $white;
        font-weight: 700;
        font-size: 9.6rem;
        line-height: 109%;
        text-align: center;
        letter-spacing: 0.02em;

        margin-bottom: 5rem;
    }

    &__desc {
        color: $white;
        text-align: center;
        font-size: 2rem;
        line-height: 142%;

        max-width: 56.2rem;
        margin: 0 auto;
        margin-bottom: 5.2rem;
    }

    &__button {
        padding: 0.5rem 2rem;
        display: block;
        max-width: 11.8rem;
        margin: 0 auto;

        border-radius: 1rem;
        background: $white;
        cursor: pointer;

        color: $black;
        font-size: 1.7rem;
        line-height: 142%;
        letter-spacing: -0.17px;

        transition: all .3s ease;

        &:hover {
            background-color: $orange;
            color: $white;
        }

        &:active {
            background-color: $orange_light;
            color: $black;
        }
    }
}