$white: #ffffff;
$black: #1B1F2B;
$orange: #EFA501;
$orange_light: #F8E6BE;
$green: #286562;
$greens: #3B7E7B;
$green_light: #E0F0E5;
$green_op: #627F7E;
$gray: #A6A6A6;
$gray_light: #F1F3F2;
$gray_op: #D9DFDB;
$beige: #F9F7F4;
$beige2: #F4F0E9;

@mixin font ($fstyle: normal, $fsize: 1.6rem, $fweight: 400, $color: $black) {
    font-style: $fstyle;
    font-size: $fsize;
    font-weight: $fweight;
    color: $color;
}


// HTML
html {
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

// Body
body {
    @include font();
    font-family: 'Roboto', sans-serif;
}


// A
a {
    text-decoration: none;
}

// Start block for background
.start {
    background: url("./images/header-img.jpg") no-repeat center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/header-img.jpg") no-repeat center;
    background-size: cover;
    // height: 111vh;
    height: 835px;

}

// Container
.container {
    max-width: 1170px;
    margin: 0 auto;
}

// Title
.title {
    @include font(normal, 5.9rem, 700, $black);
    text-align: center;
    line-height: 124%;
}

// Description
.description {
    @include font(normal, 2rem, 400, $gray);
    text-align: center;
    margin: 0 auto;
    line-height: 142%;

    max-width: 41.8rem;
    margin-bottom: 10rem;
}

// Button more
.more {
    padding: 7px 30px 7px 20px;
    @include font(normal, 2.3rem, 700, $white);
    line-height: 122%;
    transition: all .3s ease;

    &::after {
        content: "";
        background: url('./images/arrow_bt.svg') no-repeat center / contain;
        display: inline-block;
        margin-left: 15px;
        width: 24px;
        height: 26px;
        vertical-align: bottom;
    }

    &:hover {
        background-color: $green;
        border-radius: 5rem;
        padding: 7px 30px 7px 20px;
    }

    &:active {
        background-color: $orange;
        border-radius: 5rem;
        padding: 7px 30px 7px 20px;
    }
}


// Header styles

.header {

    padding-top: 3rem;
    margin-bottom: 14.5rem;

    transition: all 1s ease;

    &__fixed {
        position: fixed;
        width: 100%;

        background: rgba(243, 239, 232, 0.60);
        backdrop-filter: blur(27px);

        padding: 20px;
        z-index: 10;

        a,
        .header__nav ul a,
        .header__logo {
            color: $black;
        }

        .header__nav-item:hover {
            border-bottom: 2px solid $black;
        }
    }

    &__container {
        max-width: 1168px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        margin-right: 182px;
    }

    &__nav ul {
        display: flex;
        align-items: center;
    }

    &__nav-item {
        font-size: 2rem;
        margin-right: 5rem;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        transition: all .3s ease;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            border-bottom: 2px solid $white;
        }

        a {
            color: $white;
        }

    }

    &__phone {
        margin-left: 182px;
        color: $white;
        font-size: 2rem;
    }

}

// Intro styles

.intro {

    &__fixed {
        padding-top: 210px;
    }

    &__title {
        @include font(normal, 9.6rem, 700, $white);
        line-height: 109%;
        text-align: center;
        letter-spacing: 0.02em;

        margin-bottom: 5rem;
    }

    &__desc {
        @include font(normal, 2rem, 400, $white);
        text-align: center;
        line-height: 142%;

        max-width: 56.2rem;
        margin: 0 auto;
        margin-bottom: 5.2rem;
    }

    &__button {
        padding: 0.5rem 2rem;
        display: block;
        max-width: 11.8rem;
        margin: 0 auto;

        border-radius: 1rem;
        background: $white;
        cursor: pointer;

        @include font(normal, 1.7rem, 400, $black);
        line-height: 142%;
        letter-spacing: -0.17px;

        transition: all .3s ease;

        &:hover {
            background-color: $orange;
            color: $white;
        }

        &:active {
            background-color: $orange_light;
            color: $black;
        }
    }
}

// Choice start

.choice {
    padding-top: 13.5rem;
    background-color: $beige;

    &__title {
        margin-bottom: 3.5rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        padding-bottom: 10rem;

        &-item {

            a {
                color: $black;
            }

            @include font(normal, 2.3rem, 700);
            line-height: 122%;

            margin-right: 3rem;
            border-bottom: 2px solid transparent;
            transition: all .3s ease;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                border-bottom: 2px solid $black;
            }
        }
    }

    &__item-active {
        a {
            color: $orange;
        }

        border-bottom: 2px solid $orange;

        &:hover {
            border-bottom: 2px solid $orange;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 3rem;
    }

    &__card {

        position: relative;
        cursor: pointer;

        width: 37rem;
        height: 53.1rem;

        grid-column: span 2;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
        }

        border-radius: 5rem;
        overflow: hidden;

        img {
            width: inherit;
            transition: all .3s ease;
        }

        &:hover img {
            transform: scale(1.2);
        }

        &-title {
            position: absolute;
            top: 5rem;
            left: 5rem;
            z-index: 2;

            @include font(normal, 3.5rem, 500, $white);
            line-height: 122%;
        }

        &-price {
            position: absolute;
            top: 15.5rem;
            left: 5rem;
            z-index: 2;

            @include font(normal, 1.7rem, 400, $white);
            line-height: 142%;
            letter-spacing: -0.17px;
        }

        &-more {
            position: absolute;
            bottom: 4rem;
            left: 3rem;
            z-index: 2;

        }
    }
}

// Collect start
.collect {
    padding-top: 13.5rem;
    background-color: $beige;

    &__title {
        margin-bottom: 3rem;
    }

    &__form {
        border-radius: 5rem;
        background-color: $white;
        padding: 7rem;

        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        row-gap: 3rem;

        &-field {
            display: flex;
            flex-direction: column;
            width: 50rem;

        }

        &-label {
            font-size: 2rem;
            line-height: 142%;
            margin-bottom: 1rem;
        }

        &-input {
            border-radius: 1rem;
            border: 1px solid $beige2;
            background: $beige;
            gap: 1rem;

            font-size: 2rem;
            line-height: 142%;

            padding: 2rem;

            transition: all .3s ease;

            &:hover {
                background: $beige2;
            }

            &:focus {
                border: 1px solid $gray;
            }

            &::placeholder {
                color: $gray;
                font-size: 2rem;
                line-height: 142%;
            }

            option {
                color: $black;
            }

        }

        &-textarea {
            resize: none;
            width: 100%;
            padding: 2rem;
            margin-bottom: 1rem;

            border-radius: 1rem;
            border: 1px solid $beige2;
            background: $beige;

            font-size: 2rem;
            line-height: 142%;
            max-height: 15.2rem;

            transition: all .3s ease;

            &:hover {
                background: $beige2;
            }

            &:focus {
                border: 1px solid $gray;
            }
        }

        &-input[type="radio"] {
            display: none;

            &+label {
                padding: 1rem 1rem 1rem 3rem;
                margin-right: 2.8rem;
                background: url('./images/radiobutton.svg') no-repeat left;
                cursor: pointer;
            }

            &:checked+label {
                background: url('./images/radiobutton_c.svg') no-repeat left;
            }
        }

        &-input[type="checkbox"] {
            display: none;

            &+label {
                color: $gray;
                font-size: 1.7rem;
                line-height: 142%;
                letter-spacing: -0.17px;

                background: url('./images/checkbox.svg') no-repeat left;
                padding: 1rem 1rem 1rem 4.3rem;

                cursor: pointer;

                & span {
                    color: $black;
                    border-bottom: .1rem solid transparent;
                    transition: all .3s ease;

                    &:hover {
                        border-bottom: .1rem solid black;
                    }

                    &:active {
                        border-bottom: .1rem solid $green;
                        color: $green;
                    }
                }
            }

            &:checked+label {
                background-image: url('./images/checkbox_c.svg');
            }
        }

        &-find {
            display: inline-block;
            text-align: center;
            padding: 1.5rem 3rem;
            border-radius: 1rem;
            background: $green;
            color: $white;
            font-size: 2rem;
            line-height: 142%;
            width: 23.5rem;

            margin-right: 2.5rem;
            transition: all .3s ease;

            &:hover {
                background-color: $greens;
            }

            &:active {
                background-color: $green_op;
            }
        }

        &-clear {
            display: inline-block;
            text-align: center;
            padding: 1.5rem 3rem;
            border-radius: 1rem;
            background: $green_light;
            color: $green;
            font-size: 2rem;
            line-height: 142%;
            width: 23.5rem;

            transition: all .3s ease;

            &:hover {
                background-color: $gray_light;
            }

            &:active {
                background-color: $gray_op;
            }

        }
    }
}

select.collect__form-input {
    appearance: none;
    background-image: url('./images/ic-dropdown.svg');
    background-repeat: no-repeat;
    background-position: right 2rem top 50%;
    background-size: 2.6rem auto;

    color: $gray;

    &:focus {
        color: $black;
    }

    &:hover {
        background-image: url('./images/ic-dropdown.svg');
        background-repeat: no-repeat;
        background-position: right 2rem top 50%;
        background-size: 2.6rem auto;
    }
}

// Review start

.review {

    padding-top: 13.4rem;
    background-color: $beige;

    &__title {
        margin-bottom: 3rem;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        column-gap: 3rem;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 57rem;
        background-color: $beige2;
        border-radius: 5rem;
        padding: 4rem;

        &-desc {
            font-size: 2.3rem;
            font-weight: 700;
            line-height: 122%;
            margin-bottom: 7rem;
        }

        &-person {
            display: grid;
            grid-template-areas: "name photo"
                "tour photo";
        }

        &-name {
            font-size: 3.5rem;
            font-weight: 500;

            grid-area: name;
        }

        &-tour {
            color: $gray;
            font-size: 1.7rem;
            letter-spacing: -0.17px;
            padding-top: .5rem;

            grid-area: tour;
        }

        &-photo {
            display: block;
            border-radius: 10rem;
            max-width: 7.5rem;

            grid-area: photo;
            justify-self: end;
        }
    }
}

// Photo start

.photo {
    padding-top: 13.5rem;
    background-color: $beige;

    &__title {
        margin-bottom: 3rem;
    }

    &__photos {
        display: grid;
        gap: 3rem;
        padding: 0 3rem;
    }


    &__big {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
    }

    &__small {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 3rem;
    }

    &__pic-b {
        grid-column: span 1;

        height: 30.1rem;
        max-width: 100%;
        border-radius: 5rem;
    }

    &__pic-s {
        grid-column: span 1;

        height: 30.1rem;
        max-width: 100%;
        border-radius: 5rem;
    }
}

// History start 

.history {
    padding-top: 10rem;
    background-color: $beige;

    &__title {
        margin-bottom: 3rem;
    }

    &__card {
        position: relative;
        overflow: hidden;
        cursor: pointer;

        width: 100%;
        height: 56.7rem;
        margin-bottom: 5rem;
        border-radius: 5rem;

        &:last-child {
            margin-bottom: 0;
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
        }

        &_img {
            width: 100%;
            height: inherit;
            transition: all .3s ease;
        }

        &:hover img {
            transform: scale(1.2);
        }

        &_title {
            @include font(normal, 3.5rem, 500, $white);
            line-height: 122%;

            position: absolute;
            top: 6rem;
            left: 6rem;
            z-index: 2;
        }

        &_desc {
            @include font(normal, 2rem, 400, $white);
            line-height: 142%;

            position: absolute;
            top: 13.7rem;
            left: 6rem;
            z-index: 2;
            max-width: 55.4rem;
        }

        &_list {
            position: absolute;
            top: 27.7rem;
            z-index: 2;
            left: 9rem;
            @include font(normal, 2rem, 400, $white);
            line-height: 142%;

            list-style: disc;
        }

        &_more {
            position: relative;
            bottom: 8.9rem;
            left: 4.1rem;
            z-index: 2;
        }

        &_social {
            position: absolute;
            bottom: 6rem;
            right: 2.4rem;
            z-index: 2;

            & a {
                @include font(normal, 2rem, 400, $white);
                line-height: 142%;
                margin-right: 3.5rem;
                border-bottom: .1rem solid transparent;
                transition: all .3s ease;

                &:hover {
                    border-bottom: .1rem solid $white;
                }

                &:active {
                    color: $orange;
                    border-bottom: .1rem solid $orange;
                }
            }

        }
    }
}

// Footer start
.footer {
    padding-top: 13.5rem;
    background-color: $beige;

    &__cta {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 13.5rem;

        &_img {
            border-radius: 5rem;
            max-width: 37rem;
            margin-right: 3rem;
        }

        &_container {
            max-width: 37.1rem;
        }

        &_title {
            font-size: 3.5rem;
            font-weight: 500;
            margin-bottom: 2rem;
            line-height: 122%;
        }

        &_desc {
            @include font(normal, 2rem, 400, $gray);
            line-height: 142%;

            & a {
                color: $black;
                border-bottom: .1rem solid transparent;

                transition: all .3s ease;

                &:hover {
                    border-bottom: .1rem solid $black;
                }

                &:active {
                    color: $green;
                    border-bottom: .1rem solid $green;
                }
            }
        }
    }

    &__end {
        background-color: $beige2;

        &-container {
            height: 8.8rem;
            max-width: 117rem;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__our {
        @include font(normal, 2rem, 400, $gray);
        line-height: 142%;
    }

    &__list_social {
        display: flex;
    }

    &__item {
        margin-left: 2.5rem;

        a {
            color: $black;
            font-size: 2rem;
            line-height: 142%;
            margin-left: 1rem;

            border-bottom: .1rem solid transparent;
            transition: all .3s ease;

            &:hover {
                border-bottom: .1rem solid $black;
            }
        }

        img {
            position: relative;
            top: -.3rem;
        }
    }
}



// Media 1180 (не в макете, но делаю поскольку верстка плывет)
@media screen and (width < 1180px) {
    .header {
        &__container {
            max-width: 910px;
            justify-content: space-between;
        }

        &__logo {
            margin-right: 0;
        }

        &__phone {
            margin-left: 0;
        }

        &__nav-item {
            margin-right: 3rem;
        }
    }

    .container {
        max-width: 1000px;
    }

    .intro {
        &__desc {
            max-width: 44.2rem;
        }
    }

    .choice {

        &__card {
            width: 100%;

            & img {
                height: inherit;
            }
        }
    }

    .collect {
        &__form {
            padding: 6rem;

            &-field {
                width: 48%;
            }
        }
    }

    .review {
        &__cards {
            gap: 1.8rem;
        }

        &__card {
            max-width: 49%;
        }
    }

    .photo {

        &__photos {
            padding: 0 2rem;
        }

        &__big {
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }

        &__pic-b.row1 {

            &:nth-child(2) {
                display: none;
            }
        }

        &__pic-b.row3 {

            &:nth-child(4) {
                display: none;
            }
        }

        &__small {
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
        }

        &__pic-s {

            &:nth-child(3) {
                display: none;
            }
        }
    }

    .footer {
        &__end-container {
            max-width: 100rem;
        }
    }
}

// Media 1024
@media screen and (width < 1024px) {
    .container {
        max-width: 91.8rem;
    }

    .choice {
        &__cards {
            gap: 1.8rem;
        }

        &__card {
            grid-column: span 3;

            &-price {
                top: 11rem;
            }
        }
    }

    .collect {
        &__form {
            column-gap: 2.5rem;
            row-gap: 2.9rem;
        }
    }

    .history {
        padding-top: 13rem;

        &__card_desc {
            top: 14rem;
        }

        &__card_list {
            top: 28.2rem;
        }

        &__card_more {
            bottom: 8.7rem;
        }

        &__card_social {
            bottom: 5.8rem;
        }
    }

    .footer {
        &__end-container {
            max-width: 91.8rem;
        }
    }
}

// Media 915 (подготовка к 360)
@media screen and (width < 916px) {

    html {
        font-size: 8px;
    }

    .container {
        max-width: 600px;
    }

    .header {
        &__container {
            max-width: 600px;
        }

        &__nav {
            display: none;
        }
    }

    .choice {
        &__card-price {
            top: 17rem;
        }
    }

    .collect {
        &__form {
            &-field {
                width: 100%;
            }
        }
    }

    .review {
        &__card {
            max-width: 100%;
        }
    }

    .footer {
        &__end-container {
            max-width: 600px;
        }
    }
}

// Media 600px по макету 360
@media screen and (width < 600px) {

    .title {
        font-size: 4.4rem;
        line-height: 1;
    }

    .container {
        max-width: 318px;
    }

    .more {
        &::after {
            top: 0.3rem;
            left: 14.7rem;
        }
    }

    .start {
        height: 481px;
    }

    .header {
        margin-bottom: 11rem;

        &__container {
            max-width: 320px;
        }

        &__logo img {
            max-width: 133px;
            max-height: 22px;
        }
    }

    .intro {
        &__title {
            font-size: 4.25rem;
        }

        &__desc {
            max-width: 35rem;
        }

        &__button {
            max-width: 13.8rem;
            padding: .7rem 2rem;
            text-align: center;
            font-size: 2rem;
        }
    }

    .choice {
        padding-top: 9.375rem;

        &__title {
            margin-bottom: 4.4rem;
        }

        &__list {
            gap: 1.25rem;
            padding-bottom: 6.5rem;
        }

        &__list-item {
            font-size: 2rem;
            margin-right: 1.25rem;
        }

        &__cards {
            gap: 2.25rem;
        }

        &__card {
            grid-column: span 6;
            height: 39.75rem;
            border-radius: 20px;

            &-title {
                font-size: 2.875rem;
                top: 3rem;
                left: 3rem;
            }

            &-price {
                font-size: 2rem;
                top: 8rem;
                left: 3rem;
            }

            &-more {
                bottom: 2.6rem;
                left: 0.5rem;
                font-size: 2rem;
            }
        }
    }

    .collect {
        padding-top: 9.5rem;

        &__desc {
            margin-bottom: 4.5rem;
        }

        &__form {
            padding: 2.5rem;
            row-gap: 3.9rem;

            &-input {
                padding: 1.25rem;
            }

            &-label {
                line-height: 135%;
            }

            &-textarea {
                padding: 1.25rem;
                max-height: 16.2rem;
            }

            &-input[type=radio]+label {
                padding-left: 4rem;
                background-size: 2.25rem;
                margin-right: 1.8rem;
            }

            &-input[type=checkbox]+label {
                background-size: 2.25rem;
                font-size: 2rem;
            }

            &-find {
                width: 134px;
                margin-top: 2.3rem;
            }

            &-clear {
                width: 134px;
                margin-top: 2.3rem;
                margin-right: 1.2rem;
            }

            &-buttons {
                display: flex;
            }
        }
    }

    .review {
        padding-top: 12.4rem;

        &__desc {
            margin-bottom: 6rem;
        }

        &__card {
            padding: 2.9rem;

            &-desc {
                font-size: 2rem;
                line-height: 142%;
                margin-bottom: 7.5rem;
            }

            &-name {
                font-size: 2.875rem;
            }
        }
    }

    .photo {

        padding-top: 8.5rem;

        &__desc {
            margin-bottom: 6rem;
        }

        &__photos {
            gap: 2.5rem;
        }

        &__big {
            grid-template-columns: repeat(2, 1fr);
        }

        &__small {
            grid-template-columns: repeat(3, 1fr);
        }

        &__pic-b {
            height: 110px;
            border-radius: 2.5rem;
        }

        &__pic-s {
            height: 110px;
            border-radius: 2.5rem;
        }

        &__pic-b.row1 {

            &:nth-child(3) {
                display: none;
            }
        }

        &__pic-b.row3 {

            &:nth-child(3) {
                display: none;
            }
        }

        &__pic-s {

            &:nth-child(2) {
                display: none;
            }
        }
    }

    .history {
        padding-top: 9.5rem;

        &__desc {
            margin-bottom: 6rem;
        }

        &__card {

            margin-bottom: 3rem;

            &_title {
                top: 4rem;
                left: 4rem;
                font-size: 2.875rem;
                max-width: 150px;
            }

            &_desc {
                top: 13.4rem;
                left: 3.8rem;
            }

            &_list {
                top: 33.5rem;
                left: 6.5rem;
            }

            &_social {
                display: none;
            }

            &_more {
                left: 1.1rem;
                bottom: 6.7rem;
            }
        }
    }

    .footer {

        padding-top: 9.5rem;

        &__cta {

            margin-bottom: 9.5rem;

            flex-direction: column;
            gap: 30px;

            &_img {
                max-width: 130px;
                border-radius: 2.5rem;
            }

            &_title {
                font-size: 2.875rem;
                text-align: center;
            }

            &_desc {
                text-align: center;
            }
        }

        &__end {
            &-container {
                flex-direction: column;
                height: 11.8rem;
                justify-content: center;
                gap: 1rem;
            }
        }

        &__item {
            margin-left: 0.5rem;
        }

        &__item a {
            font-size: 2rem;
        }

        &__item img {
            width: 2.5rem;
        }

        &__list_social {
            align-self: center;
        }
    }
}